<div>
	<div class="page-header">
		<h3 id="tables">{{msg}}</h3>
	</div>
	<div class="form-group">
		<form id="expandable">
			<input type="search" ng-model="recherche" placeholder="Search"
				class="form-control pull-right">
		</form>
	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Photo</th>
				<th>Statut</th>
				<th>Classe standard</th>
				<th>Date de soumission</th>
				<th>Date de mise &#224; dispo</th>
				<th>Revenu cadastral</th>
				<th>Adresse</th>
				<th class="text-right">-</th>
			</tr>
		</thead>
		<tbody>
			<tr
				ng-repeat="bienImmobilier in listeBienImmobiliers | filter:recherche"
				ng-mouseover="doShow(bienImmobilier.id)"
				ng-mouseleave="doHide(bienImmobilier.id)">
				<td>{{bienImmobilier.id}}</td>
				<td><img ng-src="data:image/JPEG;base64,{{bienImmobilier.photo}}" width="150"></td>
				<td>{{bienImmobilier.statut}}</td>
				<td>{{bienImmobilier.classeStandard}}</td>
				<td>{{bienImmobilier.dateSoumission}}</td>
				<td>{{bienImmobilier.dateMiseDispo}}</td>
				<td>{{bienImmobilier.revenuCadastral | number:2}} &#8364;</td>
				<td>{{bienImmobilier.localisation.numero}}
					{{bienImmobilier.localisation.rue}}
					{{bienImmobilier.localisation.codePostal}}
					{{bienImmobilier.localisation.localite}},
					{{bienImmobilier.localisation.pays}}</td>
				<td class="text-right col-md-1">
					<div class="btn-group" role="group"
						ng-show="MouseOverRow[bienImmobilier.id]">
						<i ng-click="vue(bienImmobilier.id)" class="material-icons btn-success btn-xs">search</i> 
						<i
							ng-click="modifier(bienImmobilier)"
							class="material-icons btn-info btn-xs">mode_edit</i> <i
							ng-click="supprimer(bienImmobilier.id)"
							class="material-icons btn-danger btn-xs">clear</i>
							<a
			ng-href="https://www.google.fr/maps/place/{{bienImmobilier.localisation.numero}}+{{bienImmobilier.localisation.rue}},+{{bienImmobilier.localisation.codePostal}}+{{bienImmobilier.localisation.localite}}"
			target="_blank"><img style="width: 25px" src="assets/img/Google-Latitude-app-icon.jpg" ></a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>