<div>
	<div class="page-header">
		<h3 id="tables">{{msg}}</h3>
	</div>
	<form name="addForm">
	
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="text" ng-model="proprietaireForm.nom" placeholder="Nom*"class="form-control" required>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<input type="text"ng-model="proprietaireForm.prenom" placeholder="Pr&#233;nom*" class="form-control" required>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="number" ng-model="proprietaireForm.telPro" placeholder="T&#233;l. Pro" class="form-control">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<input type="number" ng-model="proprietaireForm.telPerso" placeholder="T&#233;l. Perso" class="form-control">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="email" ng-model="proprietaireForm.listeBien" placeholder="Liste de bien" class="form-control">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<input type="text" ng-model="proprietaireForm.adresse.numero" placeholder="N&#176;"class="form-control">
				</div>
			</div>
			<div class="col-md-8">
				<div class="form-group">
					<input type="text" ng-model="proprietaireForm.adresse.rue" placeholder="Rue" class="form-control">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<input type="number" ng-model="proprietaireForm.adresse.codePostal" placeholder="Code postal" class="form-control">
				</div>
			</div>
			<div class="col-md-8">
				<div class="form-group">
					<input type="text" ng-model="proprietaireForm.adresse.localite" placeholder="Ville"class="form-control">
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<input type="text" ng-model="proprietaireForm.adresse.pays" placeholder="Pays" class="form-control">
				</div>
			</div>
		</div>

		<button type="submit" ng-click="ajouter()" class="btn btn-primary pull-right">Add</button>
	</form>
</div>