<footer class="container">
    <div class="well row">
    
      	<div class="col-md-6 col-sm-6 footerleft">
	        <div class="page-header">
                <h5 id="tables">Newman-Immo :</h5>
            </div>
	        <div>
                <h5 id="tables">Site web de gestion immobili&#232;re r&#233;alis&#233; par les &#233;tudiants du groupe Adaming</h5>
                <br/>
                <div align="center">
                	<a href="http://www.adaming.fr/"><img style="height: 75px;" alt="adaming_logo" src="assets/img/Adaming_logo.png"></a>
            	</div>
            </div>
	    </div>
	    
	    <div class="col-md-6 col-sm-6">
            <div class="page-header">
                <h5 id="tables">Contact :</h5>
            </div>
            <div>
               	<p><i style="vertical-align: middle;" class="material-icons">phone</i><span class=""> T&#233;l : </span><span class="">+33 1 45 38 30 51</span></p>
                <p><i style="vertical-align: middle;" class="material-icons">mail_outline</i><span class=""> Email : </span><a style="color: white;" href="mailto:contact@adaming.fr"><span class="">contact@adaming.fr</span></a></p>
                <p><i style="vertical-align: middle;" class="material-icons">language</i><span class=""> Site Web : </span> <span class="">http://localhost:8080.Newman-Immo/</span></p>
                <p><i style="vertical-align: middle;" class="material-icons">place</i><span class=""> Adresse : </span><a style="color: white;" href="https://www.google.fr/maps/place/Tour+Maine+Montparnasse,+33+Avenue+du+Maine,+75015+Paris/@48.8421474,2.3197951,17z/data=!3m1!4b1!4m5!3m4!1s0x47e671ccbbfe0d71:0x4b17c1512f022fa9!8m2!3d48.842129!4d2.3219699?hl=fr" target="_blank"><span class="">Tour Montparnasse - 33, avenue de Maine - 75015 Paris</span></a></p>
            </div>
	    </div>
	    
	    <div class="col-md-12 col-sm-6">
	    	<div class="page-header" align="center">
                <h6 id="tables">&copy; Copyright 2017 | <a style="color: white;" href="http://www.intiformation.com/">INTI Formation</a> | Web developers : <span style="font-style: italic;">Miniip - Christophe - JP - Tonio</span></h6>
            </div>
	    </div>
	    
    </div>
</footer>