<footer class="container">
    <div class="well row">
    
      	<div class="col-md-6 col-sm-6 footerleft">
	        <div class="page-header">
                <h5 id="tables">En bref :</h5>
            </div>
	        <div>
                <h5 id="tables">Newman-Immo et ta t'on immo !</h5>
            </div>
	    </div>
	    
	    <div class="col-md-6 col-sm-6">
            <div class="page-header">
                <h5 id="tables">Contact :</h5>
            </div>
            <div>
               	<p><i class="material-icons">phone</i><span class="">Tel:</span><span class="">+33 1 45 38 30 51</span></p>
                <p><i class="material-icons">phone</i><span class="">Email:</span> <span class="">contact@adaming.fr</span></p>
                <p><i class="material-icons">phone</i><span class="">Site Web:</span> <span class="">http://localhost:8080.Newman-Immo/</span></p>
                <p><i class="material-icons">phone</i><span class="">Adresse: </span><span class="">Tour Montparnasse - 33, avenue de Maine - 75015 Paris</span></p>
            </div>
	    </div>
	    
    </div>
</footer>