<div>
	<div class="page-header">
		<h3 id="tables">{{msg}}</h3>
	</div>
	<form name="loginForm">

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="text" ng-model="me.login" class="form-control">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<input type="password" ng-model="me.password" class="form-control">
				</div>
			</div>
		</div>

		<button type="submit" ng-click="submit()" class="btn btn-primary pull-right">login</button>
	</form>
</div>

