
    <div class="brand"><a href="#!home"><i style="vertical-align: middle;" class="material-icons">home</i> Newman-Immo</a></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li data-toggle="collapse" data-target="#Mconseiller" class="collapsed">
                <a href="" style="margin-left: 10px">Conseiller <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="Mconseiller">
						<a href="#!conseiller/all"><li>All</li></a>
						<a href="#!conseiller/one"><li>One</li></a>
						<a href="#!conseiller/add"><li>Add</li></a>
            </ul>
            
            <li data-toggle="collapse" data-target="#Mclient" class="collapsed">
                <a href="" style="margin-left: 10px">Client <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="Mclient">
						<a href="#!client/all"><li>All</li></a>
						<a href="#!client/one"><li>One</li></a>
						<a href="#!client/add"><li>Add</li></a>
            </ul>

            <li data-toggle="collapse" data-target="#Mvisite" class="collapsed">
                <a href="" style="margin-left: 10px">Visite <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="Mvisite">
						<a href="#!visite/all"><li>All</li></a>
						<a href="#!visite/one"><li>One</li></a>
						<a href="#!visite/add"><li>Add</li></a>
            </ul>
            
            <li data-toggle="collapse" data-target="#Mproprietaire" class="collapsed">
                <a href="" style="margin-left: 10px">Propri&#233;taire <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="Mproprietaire">
						<a href="#!proprietaire/all"><li>All</li></a>
						<a href="#!proprietaire/one"><li>One</li></a>
						<a href="#!proprietaire/add"><li>Add</li></a>
            </ul>
            
           <li data-toggle="collapse" data-target="#MbienImmobilier" class="collapsed">
                <a href="" style="margin-left: 10px">Bien Immobilier <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="MbienImmobilier">
						<a href="#!bienImmobilier/all"><li>All</li></a>
						<a href="#!bienImmobilier/one"><li>One</li></a>
						<a href="#!bienImmobilier/add"><li>Add</li></a>
            </ul>
            
            <li data-toggle="collapse" data-target="#Mcontrat" class="collapsed">
                <a href="" style="margin-left: 10px">Contrat <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="Mcontrat">
						<a href="#!contrat/all"><li>All</li></a>
						<a href="#!contrat/one"><li>One</li></a>
						<a href="#!contrat/add"><li>Add</li></a>
            </ul>

			<li data-toggle="collapse" data-target="#MclasseStandard" class="collapsed">
                <a href="">Classe Standard <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="MclasseStandard">
						<a href="#!classeStandard/all"><li>All</li></a>
						<a href="#!classeStandard/one"><li>One</li></a>
						<a href="#!classeStandard/add"><li>Add</li></a>
            </ul>



            <li>
                <a href="" style="margin-left: 10px">Profile</a>
            </li>
            <li>
                <a href="" style="margin-left: 10px">Users</a>
            </li>
        </ul>
    </div>