
    <div class="brand"><a href="#!home"><i class="material-icons">home</i>Newman-Immo</a></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
            <li data-toggle="collapse" data-target="#Mconseiller" class="collapsed">
                <a href=""> Conseiller <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="Mconseiller">
						<a href="#!conseiller/all"><li>All</li></a>
						<a href="#!conseiller/one"><li>One</li></a>
						<a href="#!conseiller/add"><li>Add</li></a>
            </ul>
            
            <li data-toggle="collapse" data-target="#Mclient" class="collapsed">
                <a href="">Client <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="Mclient">
						<a href="#!client/all"><li>All</li></a>
						<a href="#!client/one"><li>One</li></a>
						<a href="#!client/add"><li>Add</li></a>
            </ul>

            <li data-toggle="collapse" data-target="#Mvisite" class="collapsed">
                <a href="">Visite <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="Mvisite">
						<a href="#!visite/all"><li>All</li></a>
						<a href="#!visite/one"><li>One</li></a>
						<a href="#!visite/add"><li>Add</li></a>
            </ul>
            
            <li data-toggle="collapse" data-target="#Mproprietaire" class="collapsed">
                <a href="">Proprietaire <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="Mproprietaire">
						<a href="#!proprietaire/all"><li>All</li></a>
						<a href="#!proprietaire/one"><li>One</li></a>
						<a href="#!proprietaire/add"><li>Add</li></a>
            </ul>
            
           <li data-toggle="collapse" data-target="#MbienImmobilier" class="collapsed">
                <a href="">Bien Immobilier <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="MbienImmobilier">
						<a href="#!bienImmobilier/all"><li>All</li></a>
						<a href="#!bienImmobilier/one"><li>One</li></a>
						<a href="#!bienImmobilier/add"><li>Add</li></a>
            </ul>
            
            <li data-toggle="collapse" data-target="#Mcontrat" class="collapsed">
                <a href="">Contrat <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="Mcontrat">
						<a href="#!contrat/all"><li>All</li></a>
						<a href="#!contrat/one"><li>One</li></a>
						<a href="#!contrat/add"><li>Add</li></a>
            </ul>




            <li>
                <a href="">Profile</a>
            </li>
            <li>
                <a href="">Users</a>
            </li>
        </ul>
    </div>