<div>
	<div class="page-header">
		<h3 id="tables">{{msg}}</h3>
	</div>
	<form name="updateForm">

		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<input type="number" ng-model="visiteForm.id" placeholder="ID" class="form-control" disabled>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<input type="date" ng-model="visiteForm.date" placeholder="Date" class="form-control">
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<input type="datetime" ng-model="visiteForm.heure"	placeholder="Heure" class="form-control">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					Bien immobilier :<select name="repeatBienImmo" ng-model="visiteFrom.bienImmo.id" id="selectBienImmo" class="form-control">
						<option ng-repeat="bienImmobilier in listeBienImmobiliers" value="{{bienImmobilier.id}}">{{bienImmobilier.statut}}, soumis le : {{bienImmobilier.dateSoumission}}, dispo le : {{bienImmobilier.dateMiseDispo}}, Adresse : {{bienImmobilier.localisation.numero}} {{bienImmobilier.localisation.rue}}, {{bienImmobilier.localisation.codePostal}}, {{bienImmobilier.localisation.localite}}, {{bienImmobilier.localisation.pays}}</option>
					</select>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					Client :<select name="repeatClient" ng-model="visiteFrom.clientVisiteur.id" id="selectClient" class="form-control">
						<option ng-repeat="client in listeClients" value="{{client.id}}">{{client.nom}} {{client.prenom}}</option>
					</select>
				</div>
			</div>
		</div>

		<button type="submit" ng-click="modifier()"
			class="btn btn-primary pull-right">Edit</button>
	</form>
</div>