<div>
	<div class="page-header">
		<h3 id="tables">{{msg}}</h3>
	</div>
	<form name="addForm">
	
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="text" ng-model="clientForm.nom" placeholder="Nom*"class="form-control" required>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<input type="text"ng-model="clientForm.prenom" placeholder="Prenom*" class="form-control" required>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="number" ng-model="clientForm.telPro" placeholder="telPro" class="form-control">
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<input type="number" ng-model="clientForm.telPerso" placeholder="telPerso" class="form-control">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<input type="email" ng-model="clientForm.listeVoeux" placeholder="Liste de voeux" class="form-control">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<input type="text" ng-model="clientForm.adresse.numero" placeholder="N°"class="form-control">
				</div>
			</div>
			<div class="col-md-8">
				<div class="form-group">
					<input type="text" ng-model="clientForm.adresse.rue" placeholder="Rue" class="form-control">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<input type="number" ng-model="clientForm.adresse.codePostal" placeholder="CP" class="form-control">
				</div>
			</div>
			<div class="col-md-8">
				<div class="form-group">
					<input type="text" ng-model="clientForm.adresse.localite" placeholder="Ville"class="form-control">
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<input type="text" ng-model="clientForm.adresse.pays" placeholder="Pays" class="form-control">
				</div>
			</div>
		</div>

		<button type="submit" ng-click="ajouter()" class="btn btn-primary pull-right">Add</button>
	</form>
</div>