<div>
	<div class="page-header">
		<h3 id="tables">{{msg}}</h3>
	</div>
	<div class="form-group">
		<form id="expandable">
			<input type="search" ng-model="recherche" placeholder="Search" class="form-control pull-right">
		</form>
	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>#</th>
				<td>Nom</td>
				<td>Pr&#233;nom</td>
				<td>N&#176; Pro</td>
				<td>N&#176; Perso</td>
				<td>Mail</td>
				<th class="text-right">-</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="conseiller in listeConseillers | filter:recherche" ng-mouseover="doShow(conseiller.id)" ng-mouseleave="doHide(conseiller.id)">
				<td>{{conseiller.id}}</td>
				<td>{{conseiller.nom}}</td>
				<td>{{conseiller.prenom}}</td>
				<td>{{conseiller.telPro}}</td>
				<td>{{conseiller.telPerso}}</td>
				<td>{{conseiller.login}}</td>
				<td class="text-right col-md-1">
					<div class="btn-group" role="group" ng-show="MouseOverRow[conseiller.id]">
						<i ng-click="vue(conseiller.id)" class="material-icons btn-success btn-xs">search</i>
						<i ng-click="modifier(conseiller)" class="material-icons btn-info btn-xs">mode_edit</i>
						<i ng-click="suprimer(conseiller.id)" class="material-icons btn-danger btn-xs">clear</i>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>