<div>
	<div class="page-header">
		<h3 id="tables">{{msg}}</h3>
	</div>

	<div class="row">
		<form name="getOneForm">
			<div class="col-sm-4">
				<div class="form-group">
					<input type="number" 
						ng-model="idToFind" class="form-control"
						placeholder="Find" required>
				</div>
			</div>

			<button ng-click="find()" class="btn btn-primary">chercher</button>
			<div class="pull-right">
				<button type="submit" ng-click="modifier()" ng-show="conseiller.id != undefined" class="btn btn-primary "><i class="material-icons">mode_edit</i></button>
				<button type="submit" ng-click="suprimer()" ng-show="conseiller.id != undefined" class="btn btn-primary "><i class="material-icons">clear</i></button>
			</div>
		</form>
	</div>

	<div ng-show="conseiller.id != undefined">
		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<span class="form-control">ID: {{conseiller.id}}</span>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<span class="form-control">Nom : {{conseiller.nom}}</span>
				</div>
			</div>
			<div class="col-md-5">
				<div class="form-group">
					<span class="form-control">Pr&#233;nom : {{conseiller.prenom}}</span>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<span class="form-control">T&#233;l. Pro : {{conseiller.telPro}}</span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<span class="form-control">T&#233;l. Perso : {{conseiller.telPerso}}</span>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<span class="form-control">Email : {{conseiller.login}}</span>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<span class="form-control">N&#176; : {{conseiller.adresse.numero}}</span>
				</div>
			</div>
			<div class="col-md-8">
				<div class="form-group">
					<span class="form-control">Rue : {{conseiller.adresse.rue}}</span>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-2">
				<div class="form-group">
					<span class="form-control">Code postal : {{conseiller.adresse.codePostal}}</span>
				</div>
			</div>
			<div class="col-md-8">
				<div class="form-group">
					<span class="form-control">Ville : {{conseiller.adresse.localite}}</span>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<span class="form-control">Pays : {{conseiller.adresse.pays}}</span>
				</div>
			</div>
		</div>


		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Photo</th>
					<th>Statut</th>
					<th>Date de soumission</th>
					<th>Date de mise &#224; dispo</th>
					<th>Revenu cadastral</th>
					<th>Adresse</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bienImmobilier in conseiller.listeGestionDesBien | filter:recherche" ng-mouseover="doShow(bienImmobilier.id)" ng-mouseleave="doHide(bienImmobilier.id)">
					<td>{{bienImmobilier.id}}</td>
					<td><img ng-src="data:image/JPEG;base64,{{bienImmobilier.photo}}" width="150"></td>
					<td>{{bienImmobilier.statut}}</td>
					<td>{{bienImmobilier.dateSoumission}}</td>
					<td>{{bienImmobilier.dateMiseDispo}}</td>
					<td>{{bienImmobilier.revenuCadastral}}</td>
					<td>{{bienImmobilier.localisation.numero}} {{bienImmobilier.localisation.rue}} {{bienImmobilier.localisation.codePostal}} {{bienImmobilier.localisation.localite}} {{bienImmobilier.localisation.pays}}</td>
				</tr>
			</tbody>
		</table>


			
			
		</div>
	
	</div>